<div class="container">
    <div class="panel panel-info vertical-center">
        <div class="panel-heading">General Election Vote 2018</div>
        <div class="panel-body">
            <div class="container-fluid">
                <img style="vertical-align:middle; float:right; width:20%;" src="/assets/flag.png">
                <h1>Welcome to the vote!</h1>
                <h4>For questions about how to vote please click
                    <a routerLink="start" fragment="not_implemented">here</a>
                </h4>
                <hr class="style-six">
                <h3>You can click the following button if you know how to vote</h3>
                <!-- <div *ngIf="active"> -->
                <hr class="style-six">
                <button type="button" class="btn btn-primary btn-block btn-lg" routerLink="/home">Continue to the vote</button>
                <!-- </div> -->
            </div>


        </div>
    </div>
    <footer class="page-footer font-small blue pt-4 mt-4">
        <div class="footer-copyright text-center py-3">© 2018 Copyright
            <br> Bram Brouwer, Joey Sonius & JaapJan van Hengel
        </div>
    </footer>
</div>