.topcorner{
    /* position:fixed; */
    /* top:10px; */
    right: 10px;
 }

 .bottomcorner{
    position:fixed;
    bottom:10px;
    right: 10px;
 }

 .btn-primary:focus {
    /* background-color: #5cb85c; */
    background-color: #31708f;
    opacity: 0.8;
    border-color: #000000;
}

.btn-primary.active {
    /* background-color: #5cb85c !important; */
    background-color: #31708f !important;
    opacity: 0.8;
    /* border-color: #000000; */
}